@font-face {
    font-family: PoppinsSemibold;
    src: url("../fonts/Poppins-SemiBold.ttf");
}

@font-face {
    font-family: PoppinsLight;
    src: url("../fonts/Poppins-Light.ttf");
}

@font-face {
    font-family: Anybody;
    src: url("../fonts/Anybody-VariableFont_wdth\,wght.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 50px;
    background-color: #D7EDF9;
}



main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

section {
    box-shadow: 0px 0px 10px 0px rgba(207, 205, 205, 0.9);
    margin: 15px;
    display: inline-block;
    width: 400px;
    min-height: 30vh;
    padding: 25px;
    background-color: white;
    vertical-align:top;
    border-radius: 5px;
    position: relative;
}

header {
    text-align: center;
    padding-bottom: 50px;
    color: rgb(0, 0, 0);
    font-family: Anybody;
}

.heading {
    font-family: PoppinsSemibold;
    font-size: 19px;
}

.text {
    font-family: PoppinsLight;
    padding: 20px 0;
    color: #525252;
    font-size: 14px;
}

.date {
    font-family: PoppinsLight;
    color: gray;
    font-size: 0.8rem;
    position: absolute;
    bottom: 20px;
}